<h1>Editing dealership</h1>

<%= render "form", dealership: @dealership %>

<br>

<div>
  <%= link_to "Show this dealership", @dealership %> |
  <%= link_to "Back to dealerships", dealerships_path %>
</div>
